
<div class="container">    
<div class="row">
<div class="column" id="col-sm-12 col-md-12"></div>
<div class="column">
    <div class="col-sm-12 col-md-12" id="checkin"> 
        <br><br><br>
        <h1>Edit Product</h1>
                 <center>
    <div class="col-sm-4 col-md-8">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            <center>{{ successMsg }}</center>
        </div>
            <div id="fail" class="alert alert-danger" {{#if nofailMessages}}hidden{{/if}}>
            <center>{{ failMsg }}</center>
        </div>
    </div>
{{#each products}}
    <form action="/editproduct/{{this._id}}" method="POST" id="checkout-form">
            <div class="row">
                <div class="col-12">
                    <br>
                    <div class="form-group">
                        <label for="imglink"><h4>Image link</h4></label>
                        <input type="url" id="imglink" class="form-control" required name="imglink" value="{{this.imagePath}}">
                    </div>
                </div>
                <p></p>
                <div class="col-12">
                    <div class="form-group">
                        <label for="productname"><h4>Product name(title)</h4></label>
                        <input type="text" id="productname" class="form-control" required name="productname" value="{{this.title}}">
                    </div>
                </div>
                <p></p>
                <div class="col-12">
                    <div class="form-group">
                        <label for="description"><h4>Description</h4></label>
                        <textarea type="text" id="description" class="form-control" required name="description" value="{{this.description}}">{{this.description}}</textarea>
                    </div>
                </div>
                <p></p>
                <div class="col-12">
                    <div class="form-group">
                        <label for="productdetails"><h4>Product detail</h4></label>
                        <textarea type="text" id="productdetails" class="form-control" required name="productdetails" value="{{this.selldescription}}">{{this.selldescription}}</textarea>
                    </div>
                </div>
                <p></p>

                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                            
                                  <select id="type" name="type" class="form-select" aria-label="Default select example">
                                      <option value="{{this.type}}">{{this.type}}</option>
                                      <option value="meat">Carnivores</option>
                                      <option value="herb">Herbivores</option>
                                  </select>
                            </div>
                        </div>
                       
                        <div class="col-6">
                            <div class="form-group">
                           
                                <select id="tag" name="tag" class="form-select" aria-label="Default select example">
                                     <option value="{{this.tag}}">{{this.tag}}</option>
                                     <option value="Dinosaur">Dinosaur</option>
                                      <option value="Food">Food</option>
                                      <option value="Toy">Toy</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="col-12">
                    <div class="form-group">
                        <label for="price"><h4>$ Price</h4></label>
                        <input type="number" id="itemprice" class="form-control" required name="price" value="{{this.price}}">
                    </div>
                </div>
            </div>
            <p></p>
            <button type="submit" class="btn btn-success">Add product!</button>
        </form>

       {{/each}}
        <br>

        <br>
    </div>
</div>

</div>
</div>

