
<div style="background-color: white;" >
<div class="container" >    
  <br>
<br>
<div class="row">
     <div class="col-sm-4 col-md-4">
        <div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
        <center>
            {{ successMsg }}
            </center>
        </div>
    </div>
</div>
        <div class="col-md-12">
           <br>
<div class="row">
            <div class="col-md-3 ">
                    <h3 style="color: black;">Category</h3>
                    <div class="btn-group">
  <a href="/allproduct" class="btn btn-secondary" for="option1">All</a>
  <a href="/dinosaur" class="btn btn-secondary" for="option2">Dinosaur</a>
  <a href="/food" class="btn btn-secondary" for="option3">Foods</a>
  <a href="/toy" class="btn btn-secondary" for="option4">Toys</a>
</div>

            </div>
            <div class="col-md-2">
                    <h3 style="color: black;">Sort by</h3>
                    <div class="btn-group">
  <a href="/Carnivores" class="btn btn-secondary" for="option1">Carnivores</a>
  <a href="/Herbivores" class="btn btn-secondary" for="option3">Herbivores</a>
</div>

            </div>
             <div class="col-md-2">
                    <h3 style="color: black;">Filter by</h3>
                    <div class="btn-group">
  <a href="/ascending" class="btn btn-secondary" for="option1">Ascending</a>
  <a href="/descending" class="btn btn-secondary" for="option3">Descending</a>
</div>

            </div>           
            </div>
             <br>
{{# each products}}
    <h4></h4>
    <div class="row">
        {{# each this }}
        
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="/productdetail2/{{this.title}}">
                        <img class="pic-1" src="{{this.imagePath}}">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{this.title}}</a></h3>
                    <div class="price">${{this._id}}
                        <span>${{this.price}}</span>
                    </div>
                </div>
                <ul class="social">       
                    <li><a href="/productdetail2/{{this.title}}" data-tip="View" style="background-color:turquoise;"><i class="fas fa-eye"></i></a></li>           
                </ul>
            </div>
        </div>
    {{/each}}
</div>
<h4></h4>
{{/each}}
<br></br>
</div>
</div>
</div>
