<br><br>
<div class="container">
    <div class="col-sm-12 col-md-12">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
        <center>
            {{ successMsg }}
            </center>
        </div>
    </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Product Details</th>
      <th scope="col">Type</th>
      <th scope="col">Tag</th>
      <th scope="col">Price</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Setting</th>
    </tr>
  </thead>

    {{#each products}}
    <tr class="table-light">
      <td>{{this._id}}</td>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.selldescription}}</td>
      <td>{{this.type}}</td>
      <td>{{this.tag}}</td>
      <td>{{this.price}}</td>
      <td>{{this.sellerid}}</td>
      <td>
        <a href="/editproduct/{{this._id}}"><i class="fas fa-edit" style="color: cornflowerblue; font-size: 20px;"></i></a>&ensp;
        <a href="/deleteproduct/{{this._id}}"><i class="fas fa-trash-alt" style="color:crimson; font-size: 20px;"></i></a>
      </td>
      <td></i></td>
    </tr>
    
    {{/each}}
  </tbody>
</table>
</div>
<br><br><br><br><br><br><br><br>